{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "node": "14" }, "useBuiltIns": "usage", "corejs": "3.8" }
    ],
    ["minify", { "keepFnName": true, "keepClassName": true }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods",
    "@babel/plugin-transform-runtime"
  ]
}
